
.modal {
  position: relative;
}

.modal-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 115vh;
  background: #999;
  filter: opacity(0.4);
  z-index: 5;
}

.modal-card {
  position: fixed;
  display: none;
  width: 60%;
  background: white;
  right: 50%;
  top: 15%;
  transform: translate(50%);
  z-index: 10;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.modal-exit {
  cursor: pointer;
  padding: 1.5rem 0;
}

.nav-content {
  display: flex;
  justify-content: flex-end;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  position: relative;
  flex-grow: 1;
  width: calc(100% / 3);
  min-width: 18rem;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}

.grid__item:hover .grid__item-pic {
  transform: scale(1.08);
  transition: 2s;
  filter: brightness(100%);
}

.grid__item:hover .grid__item-content {
  display: none;
}

.grid__item-content {
  position: absolute;
  top: 10%;
  margin: 0;
  padding: 0.5rem;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.grid__item-pic {
  display: block;
  width: 100%;
  height: 15rem;
  margin: 0;
  object-fit: cover;
  filter: brightness(20%);
}
