<div class="modal">
  <div class="modal-card">

  </div>
</div>

<nav class="nav">
  <div class="container">
    <div class="nav-content">
      <h1>derrick bray</h1>
    </div>
  </div>
</nav>

<section class="hero">
  <div class="container">
    <div class="hero-content">

    </div>
  </div>
</section>

<section class="grid">

  <div class="grid__item">
    <img class="grid__item-pic" src="assets/knowthis1.png" alt="">
    <div class="grid__item-content">
      <h3 class="grid__item-content-title">Podcast Courses</h3>
      <div class="grid__item-content-body">This is a site that I made to make podcast playlists. It also includes info on interesting people and ideas. Be gentle, it's a work in progress.</div>
    </div>
  </div>
</section>
