<div class="modal">
  <div class="modal-card">

  </div>
</div>

<nav class="nav">
  <div class="container">
    <div class="nav-content">
      <h1>derrick bray</h1>
    </div>
  </div>
</nav>

<section class="hero">
  <div class="container">
    <div class="hero-content">

    </div>
  </div>
</section>

<section class="grid">
  <div href="https://divsafetynet.herokuapp.com/" class="grid__item">
    <img class="grid__item-pic" src="assets/safetynet1.png" alt="">
    <div class="grid__item-content">
      <h3 class="grid__item-content-title">Safety Net</h3>
      <div class="grid__item-content-body">The Safety Net is an app that helps people in need connect with those who are willing to help. It was build using EmberJS and NodeJS with Shaun Willis.
        <span class="orange">Free server takes a min to load.</span>
      </div>
    </div>
  </div>

  <div href="https://docs.bamboosolutions.com/" class="grid__item">
    <img class="grid__item-pic" src="assets/docs.png" alt="">
    <div class="grid__item-content">
      <h3 class="grid__item-content-title">Bamboo Solutions Documentation</h3>
      <div class="grid__item-content-body">This is a site with over 2,000 pages and 6,000 images that I migrated. It was hosted with a custom CMS and was moved to WordPress Engine.</div>
    </div>
  </div>

  <div href="https://mythos-universes.herokuapp.com/" class="grid__item">
    <img class="grid__item-pic" src="assets/mythos.png" alt="">
    <div class="grid__item-content">
      <h3 class="grid__item-content-title">Mythos</h3>
      <div class="grid__item-content-body">Mythos is an app that allows you to read, update, edit and delete a pantheon of mythological gods and heros. It was built in using Ruby on Rails and custom styling.
        <span class="orange">Free server takes a min to load.</span>
      </div>
    </div>
  </div>

  <div href="http://military-advertisement.surge.sh/" class="grid__item">
    <img class="grid__item-pic" src="assets/marvel.jpeg" alt="">
    <div class="grid__item-content">
      <h3 class="grid__item-content-title">Marvel Site</h3>
      <div class="grid__item-content-body">Using marvel's API, I created an app that shows relevant charactors and comics for a specific series. It was built with VueJs.</div>
    </div>
  </div>

  <div href="http://nasa-stuff.surge.sh/" class="grid__item">
    <img class="grid__item-pic" src="assets/nasa1.png" alt="">
    <div class="grid__item-content">
      <h3 class="grid__item-content-title">Nasa Picture of the Day</h3>
      <div class="grid__item-content-body">This site uses the Nasa API to display the picture of the day. You can cycle through the days to find your favorite picture. It's built with VueJS.</div>
    </div>
  </div>

  <div href="http://determined-prison.surge.sh/" class="grid__item">
    <img class="grid__item-pic" src="assets/menu.png" alt="">
    <div class="grid__item-content">
      <h3 class="grid__item-content-title">Admin Menu Maker</h3>
      <div class="grid__item-content-body">Menu Maker was made in EmberJs with custom style. In the admin side you can create/read/update/destroy new menu items. <span class="orange">Free server takes a min to load.</span></div>
    </div>
  </div>

  <div href="http://parallel-leather.surge.sh/" class="grid__item">
    <img class="grid__item-pic" src="assets/twitch.png" alt="">
    <div class="grid__item-content">
      <h3 class="grid__item-content-title">Twitch Clone</h3>
      <div class="grid__item-content-body">This is a Twitch clone. I used plain JavaScript for the grid. It resizes with like the site to a small sidebar with the grid using CSS only.
      </div>
    </div>
  </div>

  <div href="http://brave-heart.surge.sh/" class="grid__item">
    <img class="grid__item-pic" src="assets/monster1.png" alt="">
    <div class="grid__item-content">
      <h3 class="grid__item-content-title">Monster Maker</h3>
      <div class="grid__item-content-body">Monster Maker creates a new monster when you cycle through the different body parts. You can then name and save your creation. It was built with VueJS.</div>
    </div>
  </div>

  <div href="http://knowthis.website/" class="grid__item">
    <img class="grid__item-pic" src="assets/knowthis1.png" alt="">
    <div class="grid__item-content">
      <h3 class="grid__item-content-title">Podcast Courses</h3>
      <div class="grid__item-content-body">This is a site that I made to make podcast playlists. It also includes info on interesting people and ideas. Be gentle, it's a work in progress.</div>
    </div>
  </div>
</section>
